<h2> {{ foundBook.title }} </h2>
<hr>
<p>Written by: {{ foundBook.author }}</p>
<p>Summary: {{ foundBook.description }}</p>
<p>Rating: {{ foundBook.rating }}</p>

<hr>
<a href="/books"> Back to books list </a>