<h2>Create a new author</h2>

{{!-- localhost:3000/authors --}}
<form action="/authors/create" method="POST">
  <label> First Name
    <input type="text" name="firstName">
  </label>
  <label> Last Name
    <input type="text" name="lastName">
  </label>

  <label> Nationality
    <input type="text" name="nationality">
  </label>
  <label> Birthday
    <input type="date" name="birthday">
  </label>

  <label> Image URL
    <input type="text" name="pictureUrl">
  </label>

  <button type="submit"> Save </button>
</form>